@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.container{
  @include padding-d;
  @include flex-centre;
  margin: 50px 0;
  width: 100%;
  @include adaptive(mobile){
    @include padding-m;
    margin: 15px 0;
  }
  @include adaptive(table){
    @include padding-t;
    margin: 35px 0;
  }
}