@use '@/styles/mixins.scss' as *;
@use '@/styles/variables.scss' as *;

.burger {
  @include mega-layer;
  position: fixed;
  display: block;
  padding: 15px 40px;
  background: $alt-color;
  cursor: pointer;
  left: 2%;
  bottom: 8%;
  border-radius: 100px;
  border: 3px solid $alt-color;
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: 700;
  color: $main-color;
  transition: background-color 0.3s ease-in-out;
  &:hover{
    background: $white
  }
}

.burgerActive {
  background: $white;
}

@include adaptive(table){
  .burger {
    transition: background-color 0.2s ease-in-out;
  }
}
@include adaptive(mobile){
  .burger {
    transition: background-color 0.2s ease-in-out;
  }
  .burgerActive {
    display: none;
  }
}