@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.footer {
  @include padding-d;
  @include flex-centre;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $main-color;
  gap: 25px;
  &__bottom{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 100px;
    color: $white;
  }
  &__logo {
    width: 170px;
    flex: 0 0 170px;
    height: auto;
  }
  &__title {
    font-size: 1.3em;
    padding: 5px 0;
  }

  &__cont_info {
    font-size: 1.1em;
    padding: 0 0 5px 0;
  }
  @include adaptive(mobile){
    @include padding-m;
    padding-top: 20px;
    padding-bottom: 20px;
    &__navifation{
      display: none;
    }
    &__bottom{
      flex-direction: column;
      gap:5px;
    }
    &__logo{
      flex: 0;
    }
  }
  @include adaptive(table){
    @include padding-t;
    padding-top: 40px;
    padding-bottom: 40px;
    &__navifation{
      display: none;
    }
    &__bottom{
      flex-wrap: wrap;
      row-gap: 5px ;
      column-gap: 20px;
    }
    &__logo{
      margin: auto 0;
    }
  }
}
