@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.description {

  &__content {
    background-color: $main-color;
    padding: 32px;
    border-radius: 28px;
    max-width: 1320px;
    width: 100%;
  }

  &__text {
    font-size: 1.75rem;
    line-height: 1.75rem;
    color: $white;
  }

  @include adaptive(mobile) {
    &__text {
      font-size: 1.25rem;
      line-height: 1.25rem;
    }
  }
}