@use '@/styles/mixins.scss' as *;
@use '@/styles/variables.scss' as *;


.header {
  @include padding-d;
  @include row-flex-between;
  background-color: $main-color;
  width: 100%;

  &__logo {
    width: 170px;
    flex: 0 0 170px;
    height: auto;
  }
  @include adaptive(mobile) {
    @include padding-m;
  }
  @include adaptive(table) {
    @include padding-t;
  }
}