@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;

.community{

  &__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  &__title{
    font-size: 2.3rem;
    line-height: 2.3rem;
  }
  &__cards{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 50px;
  }
  &__card{
    @include flex-centre;
    max-width: 400px;
    width: 100%;
    border: 4px solid $main-color;
    padding: 25px 0;
    border-radius: 100px;
  }
  &__card_title{
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
  }
  @include adaptive(table){
    &__cards{
      display: grid;
      grid-template-columns: repeat(2, auto);
      grid-template-rows: repeat(3, auto);
    }
  }
  @include adaptive(mobile){
    &__cards{
      display: grid;
      grid-template-columns: repeat(1, auto);
      grid-template-rows: repeat(7, auto);
    }
  }
}