@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;
p{
  font-weight: 400;
  font-size: 16px;
  color: $text-color;
}
:is(h1, h2, h3, h4, h5, h6){
  font-weight: 700;
  color: $main-color;
}
html, body{
  overflow-x: hidden;
}
body{
  position: relative;
  font-size: 16px;
  line-height: 16px;
  background-color: rgba(217, 217, 217, 0.18);
  font-family: var(--lato-font), sans-serif;

}

