@use '@/styles/mixins' as *;
@use '@/styles/variables' as *;
p{
  font-weight: 400;
  font-size: 16px;
  color: $text-color;
}
:is(h1, h2, h3, h4, h5, h6){
  font-weight: 700;
  color: $main-color;
}
:is(h1, h2){
  border-bottom: 3px solid $alt-color;
  padding-bottom: 10px;
}
::selection {
  background-color: rgba($main-color, 0.1);
  color: $alt-color;
}
html, body{
  overflow-x: hidden;
}
body{
  position: relative;
  font-size: 16px;
  line-height: 16px;
  background-color: rgba(217, 217, 217, 0.18);
  font-family: var(--lato-font), sans-serif;

}
* {
  scrollbar-width: thin;
  scrollbar-color: #2F4F4F transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #2F4F4F;
  border-radius: 999px;
}

*::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

